@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-weight: 800;
    font-size: 2.50vw;
}

#logo-image {
    width: 20vw;
    padding-top: 1vw;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    color: #ffffff;
    background: #ffffff;
    overflow-x: hidden;
}

#session-404-header {
    height: 98vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-image: url(images/erro/pagenotfound_background.png);
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#session-404-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #204326 10%, rgb(21 33 23 / 0%) 50%);
    pointer-events: none;
}




#session-1-header {
    height: 98vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-image: url(images/home-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#session-1-header::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(20,32,22,1) 10%, rgba(0,212,255,0) 80%);;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
}

a  {
    color: #fff;
    text-decoration: none;
}

button {
    font-family: "Poppins" ;
    font-size: 0.95vw;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: #8fa639;
    color: #fff;
    width: 9em;
    height: 1.90vw;
    transition: 0.2s ease-out;
}

button:hover {
    background-color: #bddb50;
    color: #152117;
    cursor: pointer;
}

#menu-card-error {
    overflow: auto;
    width: 90vw;
    height: 8vw;
    background: #ffffff0e;
    backdrop-filter: blur(7px);
    border-radius: 30px;
    z-index: 2;
    box-shadow: #00000052 0px 2px 2px, #ffffff45 0.55px -0.75px 0.75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}


#error-404-content{
    background: none;
    position: absolute;
    top: 40%;
    left: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#astronaut {
    position: absolute;
    top: 0%;
    left: -35%;
    animation: floating 16s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {

    0% {
        transform: translate(0%, 0%) rotateZ(-18deg);
        transition: all cubic-bezier(0.19, 1, 0.22, 1);
    }


    50% {
        transform: translate(-5%, -50%) rotateZ(18deg);
        transition: all cubic-bezier(0.19, 1, 0.22, 1);
    }

    100% {
        transform: translate(0%, 0%) rotateZ(-18deg);
        transition: all cubic-bezier(0.19, 1, 0.22, 1);
    }
    
}


#menu-card {
    overflow: auto;
    width: 90vw;
    height: 37vw;
    background: #ffffff0e;
    backdrop-filter: blur(7px);
    border-radius: 30px;
    z-index: 2;
    box-shadow: #00000052 0px 2px 2px, #ffffff45 0.55px -0.75px 0.75px;
    padding-top: 5vh;
    margin-top: 2vw;
}

#text-card-content {
    width: 45%;
    padding-left: 7vw;

}

#text-card-content > h1 {
    width: 100%;
    margin-top: 4rem;
}


#text-card-content > p {
    font-weight: 200;
    font-size: 1.20vw;
    width: 32em;
    margin-bottom: 3vw;
}

b {
    font-weight: 800;
}

nav {
    padding-left: 7vw;
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}

nav > ul > li {
    display: inline-flex;
    padding-left: 4vw;
    font-weight: 600;
    font-size: 0.95vw;
    text-transform: uppercase;
}


#home {
    background: none;
    width: 7rem;
    border-radius: 0px;
    border-bottom: 3px solid #ffffff;
}

#budget {
    font-weight: 700;
    font-size: 0.95vw;
}


main {
    background-image: url(images/session-2-background.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-clip: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#left-lettuce  {
    position: absolute;
    top: 65%;
    left: -2%;
    z-index: 3;
    width: 12vw;
    user-select: none;
    -webkit-user-drag: none;
    animation: left-lettuce-breathing 19s infinite ease-in-out;
}

#right-lettuce  {
    position: absolute;
    top: 25%;
    right: 0%;
    z-index: 3;
    width: 17vw;
    user-select: none;
    -webkit-user-drag: none;
    animation: right-lettuce-breathing 15s infinite ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
}

#whatsapp-logo {
    width: 3vw;
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 4;
}


#half-orange {
    width: 25vw;
    top: 2em;
    user-select: none;
    -webkit-user-drag: none;
}

#section-2-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding-top: 4vw;
}

#section-2-content > div {
    width: 35vw;
    padding-left: 5vw;
}

P {
    font-size: 0.95vw;
    font-weight: 500;
}

#left-lettuce-2  {
    position: absolute;
    top: 150%;
    left: -2%;
    z-index: 3;
    width: 15vw;
    user-select: none;
    transform: rotate(-5deg);
    -webkit-user-drag: none;
}

#right-carefull  {
    position: absolute;
    top: 125%;
    right: 0%;
    z-index: 3;
    width: 30vw;
    user-select: none;
    -webkit-user-drag: none;
}

#section-3-content {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    color: #152117;
    margin-top: 30vw;
    width: 100%;
}

#section-3-content > div {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#section-3-content > div > p {
    width: 30vw;
}

#image-set {
    display: inline-flex;
}

#image-set > figure > img {
    display: inline-flex;
    width: 15vw;
}

#image-set {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fruit-card-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 19vw;
    width: 13vw;
    background: #152117;
    border-radius: 3vw 3vw 3vw 3vw;
    color: #fff;
    font-weight: 600;
    font-size: 2.25vw;
    margin-bottom: 2vw;
}

.fruit-card-button{
    width: 13vw;
    height: 4vw;
    border-radius: 0px 0px 2.9vw 2.9vw;
    background: #fff;
    color: #8fa639;
    font-weight: 600;
    font-size: 1.25vw;
    transition: none;
}

.fruit-card-container > img {
    position: relative;
    translate: -0% -30%;

}

#lemon-card {
    background: #428D0F;
    position: relative;
    top: 2vw;
}

#kiwi-card {
    background: #97A930;
    height: 21vw;
    width: 14vw;
    margin: 0vw 1.25vw;
    position: relative;
    top: 2vw;
}

#kiwi-card > a > button {
    width: 14vw;
}

#watermelon-card {
    background: #748F27;
    position: relative;
    top: 3vw;
}

#lemon-card > img {
    width: 12vw;
}

#kiwi-card > img {
    width: 16vw;
}

#watermelon-card > img {
    width: 12vw;
}

footer {
    background: #152117;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.70vw;
    font-weight: 200;
    margin-top: 100px;
    padding-bottom: 0rem;
}

h3 {
    position: relative;
    font-size: 1.1rem;
    font-weight: 800;
}

footer > div {
    padding-left: 10vw;
}

#site-navigation > p {
    font-weight: 200;
    font-size: 0.95rem;
    margin: -2px;
}


.all-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 13rem;
    column-gap: 30px;
    color: #152117;
    padding-top: 20rem;
}

.product {
    position: relative;
    background: #e9e9e9;
    height: 290px;
    width: 250px;
    border-radius: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card-content {
    background: #ffffff;
    width: 100%;
    height: 80%;
    border-radius: 46px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transform: translateY(50%);
    box-shadow: 0px 2px 3px 0px #0000003a;
}

.product-name {
    font-weight: 800;
    margin-left: 15px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 40px;
}

.product-messure {
    margin-left: 15px;
    margin-top: -5px;
    font-weight: 300;
    font-size: 0.90rem;
}

.product-price {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.buy-button {
    background: #F6C74C;
    color: #ffffff;
    margin-left: 10%;
    height: 50px;
    width: 80%;
    border-radius: 100px;
    margin-bottom: 0.25vw;
    font-weight: 800;
    font-size: 1.3em;
}

.buy-button:hover {
    transition: 0.3s ease-in-out;
    background: #ffefc6;
    color: #ffd358;
    border: 2px solid #ffd358;
}

.product > img {
    width: 250px;
    position: absolute;
    z-index: 1;
}

.floating-images {
    position: relative;
}

.floating-images > img {
    position: absolute;
}

#products-left-apple {
    left: 0%;
    top: 100px;
    transform: translateY(-120%);
    z-index: 1;
}

#products-right-orange {
    right: 0%;
    top: 100px;
    transform: translateY(-40%);
    z-index: 2;

}

#products-center-pineapple {
    right: 45%;
    top: 500px;
    transform: translateY(-110%);
    z-index: 1;
    width: 400px;
}


#our-values-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#our-values-text {
    width: 45vw;
}

#our-values-text > p {
    font-weight: 300;
}

#our-values-content > img {
    width: 30vw;
}

#work-with-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #152117;
    margin-top: 13vw;
}

#work-with-us-content > h1 {
    max-width: 600px;
    margin-left: 30px;
    font-size: 2.5em;
}

#work-with-us-text {
    width: 50%;
    margin-left: 30px;
    text-align: left;
}

#work-with-us-text > h2 {
    font-size: 2.0rem;
    font-weight: 800;
    margin-bottom: -10px;
}

.button-link {
    border-radius: 100px;
    margin-top: 3rem;
    height: 3.5rem;
    width: 16em;
    font-size: 1.2em;
    font-weight: 400;
}


#contact-main-session {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #152117;
    margin-top: 7vw;
}

#contact-us-left {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    flex-direction: column;
}

#contact-us-left > h1 {
    margin-bottom: 0px;
}

#contact-us-left > p {
    font-size: 0.75rem;
    margin: 0px;
    margin-bottom: 15px;
    font-weight: 400;
}

#localization {
    margin-left: 4vw;
}

.map-container {
    height: auto;
    width: auto;
    overflow: hidden;
    border-radius: 50px;
}

#forms {
    border: none;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px;
}

#forms > div {
    display: flex;
    justify-content: left;
    align-items: center;
}

#forms > div > img {
    width: 25px;
    position: absolute;
    transform: translate(30%);
    margin-bottom: 10px;
}

#name {
    transition: 0.2s ease-in;
    background: #f5f5f5;
    height: 10px;
    width: 20vw;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 15px;
    padding-left: 45px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}

#name:hover {
    transition: 0.2s ease-in;
    outline: none;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 1px 1px #428D0F;
}

#email:hover {
    transition: 0.2s ease-in;
    outline: none;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 1px 1px #428D0F;
}

#tel:hover {
    transition: 0.2s ease-in;
    outline: none;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 1px 1px #428D0F;
}


#email {
    transition: 0.2s ease-in;
    background: #f5f5f5;
    height: 10px;
    width: 20vw;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 15px;
    padding-left: 45px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}

#tel {
    transition: 0.2s ease-in;
    background: #f5f5f5;
    height: 10px;
    width: 20vw;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 15px;
    padding-left: 45px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}

#message {
    background: #f5f5f5;
    height: 20rem;
    width: 30vw;
    font-size: 0.95rem;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}



.map-infos > p {
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 2vw;
}

.map-infos > h1 {
    margin-bottom: 0px;
}

#forms > h2 {
    margin: 0px;
    margin-top: 2vw;
    margin-left: 15px;
}

#submit-input {
    color: #f5f5f5;
    background: #748F27;
    font-size: 0.95rem;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    width: 9vw;
    height: 2.4em;
}

.fruit-card-button::after {
    content: "";
    width: 70%;
    height: 4px;
    background: #8fa639;
    z-index: 3;
    position: absolute;
    transform: translate(-81%, 2.9vw);
    border-radius: 100px;
}

#button-watermelon::after {
    content: "";
    width: 70%;
    height: 4px;
    background: #748f27;
    z-index: 3;
    position: absolute;
    transform: translate(-85%, 2.9vw);
    border-radius: 100px;
}

#button-lemon::after {
    content: "";
    width: 70%;
    height: 4px;
    background: #428d0f;
    z-index: 3;
    position: absolute;
    transform: translate(-85%, 2.9vw);
    border-radius: 100px;
}



#button-lemon:hover {
    transition: 0.9s ease-out;
    background-color: #e6ffd570;
    color: #ffffff;
    cursor: pointer;
}

#button-kiwi:hover {
    transition: 0.9s ease-out;
    background-color: #b7c082;
    color: #ffffff;
    cursor: pointer;
}

#button-watermelon:hover {
    transition: 0.9s ease-out;
    background-color: #b2ca6f;
    color: #ffffff;
    cursor: pointer;
}

.navigation-titles::before {
    content: "";
    width: 100px;
    height: 2px;
    background: #428d0f;
    position: absolute;
    top: 115%;
}

@media screen and (max-width: 1080px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-weight: 800;
    font-size: 2.50vw;
}

#logo-image {
    width: 20vw;
    padding-top: 1vw;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    color: #ffffff;
    background: #ffffff;
    overflow-x: hidden;
}

#session-1-header {
    height: 65vw;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-image: url(images/home-background.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
}

#session-1-header::after {
    display: none;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgb(20 32 22 / 51%) 10%, rgba(0, 212, 255, 0) 80%);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
}

a  {
    color: #fff;
    text-decoration: none;
}

button {
    font-family: "Poppins" ;
    font-size: 0.95vw;
    font-weight: 100;
    border: none;
    border-radius: 10px;
    background-color: #8fa639;
    color: #fff;
    width: 9em;
    height: 1.90vw;
    transition: 0.2s ease-out;
}

button:hover {
    background-color: #bddb50;
    color: #152117;
    cursor: pointer;
}


#menu-card {
    overflow: auto;
    width: 90vw;
    height: 37vw;
    background: #ffffff0e;
    backdrop-filter: blur(7px);
    border-radius: 30px;
    z-index: 2;
    box-shadow: #00000052 0px 2px 2px, #ffffff45 0.55px -0.75px 0.75px;
    padding-top: 5vh;
    margin-top: 2vw;
}

#text-card-content {
    width: 45%;
    padding-left: 7vw;

}

#text-card-content > h1 {
    width: 100%;
    margin-top: 4rem;
}


#text-card-content > p {
    font-weight: 200;
    font-size: 1.20vw;
    width: 32em;
    margin-bottom: 3vw;
}

b {
    font-weight: 800;
}

nav {
    padding-left: 7vw;
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}

nav > ul > li {
    display: inline-flex;
    padding-left: 4vw;
    font-weight: 400;
    font-size: 0.75vw;
}


#home {
    background: none;
    width: 7rem;
    border-radius: 0px;
    border-bottom: 3px solid #ffffff;
}

#budget {
    font-weight: 700;
    font-size: 0.95vw;
}


main {
    background: none;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-clip: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#left-lettuce  {
    position: absolute;
    top: 65%;
    left: -2%;
    z-index: 3;
    width: 12vw;
    user-select: none;
    -webkit-user-drag: none;
    animation: left-lettuce-breathing 19s infinite ease-in-out;
}

#right-lettuce  {
    position: absolute;
    top: 25%;
    right: 0%;
    z-index: 3;
    width: 17vw;
    user-select: none;
    -webkit-user-drag: none;
    animation: right-lettuce-breathing 15s infinite ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
}

#whatsapp-logo {
    width: 3vw;
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 4;
}


#half-orange {
    width: 25vw;
    top: 2em;
    user-select: none;
    -webkit-user-drag: none;
}

#section-2-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding-top: 4vw;
}

#section-2-content > div {
    width: 35vw;
    padding-left: 5vw;
}

P {
    font-size: 0.95vw;
    font-weight: 500;
}

#left-lettuce-2  {
    position: absolute;
    top: 150%;
    left: -2%;
    z-index: 3;
    width: 15vw;
    user-select: none;
    transform: rotate(-5deg);
    -webkit-user-drag: none;
}

#right-carefull  {
    position: absolute;
    top: 125%;
    right: 0%;
    z-index: 3;
    width: 30vw;
    user-select: none;
    -webkit-user-drag: none;
}

#section-3-content {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    color: #152117;
    margin-top: 30vw;
    width: 100%;
}

#section-3-content > div {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#section-3-content > div > p {
    width: 30vw;
}

#image-set {
    display: inline-flex;
}

#image-set > figure > img {
    display: inline-flex;
    width: 15vw;
}

#image-set {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fruit-card-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 19vw;
    width: 13vw;
    background: #152117;
    border-radius: 3vw 3vw 3vw 3vw;
    color: #fff;
    font-weight: 600;
    font-size: 2.25vw;
    margin-bottom: 2vw;
}

.fruit-card-button{
    width: 13vw;
    height: 4vw;
    border-radius: 0px 0px 2.9vw 2.9vw;
    background: #fff;
    color: #8fa639;
    font-weight: 600;
    font-size: 1.25vw;
    transition: none;
}

.fruit-card-container > img {
    position: relative;
    translate: -0% -30%;

}

#lemon-card {
    background: #428D0F;
    position: relative;
    top: 2vw;
}

#kiwi-card {
    background: #97A930;
    height: 21vw;
    width: 14vw;
    margin: 0vw 1.25vw;
    position: relative;
    top: 2vw;
}

#kiwi-card > a > button {
    width: 14vw;
}

#watermelon-card {
    background: #748F27;
    position: relative;
    top: 3vw;
}

#lemon-card > img {
    width: 12vw;
}

#kiwi-card > img {
    width: 16vw;
}

#watermelon-card > img {
    width: 12vw;
}

footer {
    background: #152117;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.70vw;
    font-weight: 200;
    margin-top: 100px;
    padding-bottom: 0rem;
}

h3 {
    position: relative;
    font-size: 1.1rem;
    font-weight: 800;
}

footer > div {
    padding-left: 10vw;
}

#site-navigation > p {
    font-weight: 200;
    font-size: 0.95rem;
    margin: -2px;
}


.all-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 13rem;
    column-gap: 30px;
    color: #152117;
    padding-top: 20rem;
}

.product {
    position: relative;
    background: #e9e9e9;
    height: 290px;
    width: 250px;
    border-radius: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card-content {
    background: #ffffff;
    width: 100%;
    height: 80%;
    border-radius: 46px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transform: translateY(50%);
    box-shadow: 0px 2px 3px 0px #0000003a;
}

.product-name {
    font-weight: 800;
    margin-left: 15px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 40px;
}

.product-messure {
    margin-left: 15px;
    margin-top: -5px;
    font-weight: 300;
    font-size: 0.90rem;
}

.product-price {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.buy-button {
    background: #F6C74C;
    color: #ffffff;
    margin-left: 10%;
    height: 50px;
    width: 80%;
    border-radius: 100px;
    margin-bottom: 0.25vw;
    font-weight: 800;
    font-size: 1.3em;
}

.buy-button:hover {
    transition: 0.3s ease-in-out;
    background: #ffefc6;
    color: #ffd358;
    border: 2px solid #ffd358;
}

.product > img {
    width: 250px;
    position: absolute;
    z-index: 1;
}

.floating-images {
    position: relative;
}

.floating-images > img {
    position: absolute;
}

#products-left-apple {
    left: 0%;
    top: 100px;
    transform: translateY(-120%);
    z-index: 1;
}

#products-right-orange {
    right: 0%;
    top: 100px;
    transform: translateY(-40%);
    z-index: 2;

}

#products-center-pineapple {
    right: 45%;
    top: 500px;
    transform: translateY(-110%);
    z-index: 1;
    width: 400px;
}


#our-values-content {
    padding-top: 100px !important;
    margin-top: 0vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
}

#our-values-text {
    color: #152117;
    width: 80%;
}

#our-values-text > h1 {
    font-size: 2.1rem;
    text-align: center;
}

#our-values-text > p {
    font-weight: 300;
}

#our-values-content > img {
    width: 30vw;
}

#work-with-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #152117;
    margin-top: 13vw;
    width: 100%;
    text-align: center;
}

#work-with-us-content > h1 {
    max-width: 600px;
    margin: 15px 0px;
    font-size: 2.5em;
}

#work-with-us-text {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

#work-with-us-text {
    margin-left: 0px;
}

#work-with-us-text > h2 {
    text-align: center;
    font-size: 2.0rem;
    font-weight: 800;
    margin-bottom: -10px;
}

.button-link {
    border-radius: 100px;
    margin-top: 3rem;
    height: 3.5rem;
    width: 16em;
    font-size: 1.2em;
    font-weight: 400;
}


#contact-main-session {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #152117;
    margin-top: 7vw;
}

#contact-us-left {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    flex-direction: column;
}

#contact-us-left > h1 {
    margin-bottom: 0px;
}

#contact-us-left > p {
    font-size: 0.75rem;
    margin: 0px;
    margin-bottom: 15px;
    font-weight: 400;
}

#localization {
    margin-left: 4vw;
}

.map-container {
    height: auto;
    width: auto;
    overflow: hidden;
    border-radius: 50px;
}

#forms {
    border: none;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px;
}

#forms > div {
    display: flex;
    justify-content: left;
    align-items: center;
}

#forms > div > img {
    width: 25px;
    position: absolute;
    transform: translate(30%);
    margin-bottom: 10px;
}

#name {
    transition: 0.2s ease-in;
    background: #f5f5f5;
    height: 10px;
    width: 20vw;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 15px;
    padding-left: 45px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}

#name:hover {
    transition: 0.2s ease-in;
    outline: none;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 1px 1px #428D0F;
}

#email:hover {
    transition: 0.2s ease-in;
    outline: none;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 1px 1px #428D0F;
}

#tel:hover {
    transition: 0.2s ease-in;
    outline: none;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 1px 1px #428D0F;
}


#email {
    transition: 0.2s ease-in;
    background: #f5f5f5;
    height: 10px;
    width: 20vw;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 15px;
    padding-left: 45px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}

#tel {
    transition: 0.2s ease-in;
    background: #f5f5f5;
    height: 10px;
    width: 20vw;
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 15px;
    padding-left: 45px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}

#message {
    background: #f5f5f5;
    height: 20rem;
    width: 30vw;
    font-size: 0.95rem;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #152117;
}



.map-infos > p {
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 2vw;
}

.map-infos > h1 {
    margin-bottom: 0px;
}

#forms > h2 {
    margin: 0px;
    margin-top: 2vw;
    margin-left: 15px;
}

#submit-input {
    color: #f5f5f5;
    background: #748F27;
    font-size: 0.95rem;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    width: 9vw;
    height: 2.4em;
}

.fruit-card-button::after {
    content: "";
    width: 70%;
    height: 4px;
    background: #8fa639;
    z-index: 3;
    position: absolute;
    transform: translate(-81%, 2.9vw);
    border-radius: 100px;
}

#button-watermelon::after {
    content: "";
    width: 70%;
    height: 4px;
    background: #748f27;
    z-index: 3;
    position: absolute;
    transform: translate(-85%, 2.9vw);
    border-radius: 100px;
}

#button-lemon::after {
    content: "";
    width: 70%;
    height: 4px;
    background: #428d0f;
    z-index: 3;
    position: absolute;
    transform: translate(-85%, 2.9vw);
    border-radius: 100px;
}



#button-lemon:hover {
    transition: 0.9s ease-out;
    background-color: #e6ffd570;
    color: #ffffff;
    cursor: pointer;
}

#button-kiwi:hover {
    transition: 0.9s ease-out;
    background-color: #b7c082;
    color: #ffffff;
    cursor: pointer;
}

#button-watermelon:hover {
    transition: 0.9s ease-out;
    background-color: #b2ca6f;
    color: #ffffff;
    cursor: pointer;
}

.navigation-titles::before {
    content: "";
    width: 100px;
    height: 2px;
    background: #428d0f;
    position: absolute;
    top: 115%;
}

#work-with-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}